.product-item{
    overflow: hidden;
}

.product-item:hover{
    cursor: pointer;
}

.product-item > img:hover{
    filter: opacity(50%) blur(1px);
    transform: scale(1.1);
}

.product-item > img{
    width: 100%;
    transition: all 0.4s;
}

.product-item h6{
    font-size: 17px;
}

.product-item p{
    font-size: 15px;
}