#banner{
    background-image: url(../../assets//images/banner1.jpg);
    background-color: rgba(45,95,93,0.6);
    background-size: cover;
    height: 55vh;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

.banner-info{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
}

.btn-browse{
    border: none;
    outline: none;
    background-color: #000000fa;
    color: #fff;
    font-style: oblique;
    font-weight: 100;
    padding: 8px 15px;
    transition: all 0.2s;
}

.btn-browse:hover{
    background-color: #000000b0;
}
